h1{
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	margin-top: 30px;
}

div{
	font-size: 15pt;
	color: white;
}

p{
	text-indent: 40px;
	text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}

h2,h3{
	text-decoration: underline;
}

@media only screen and (max-device-width: 700px){
	div{
	margin-right: 0px;
	margin-left: 0px;
	}
	h1{
		font-size: 30px;
	}
	h2, h3{
		font-size: 25px;
	}
	p{
		font-size: 20px;

	}
	nav{
		margin-right: 0px;
		margin-left: 0px;
	}
}	

